:roots {
  --font-heading: "Poppins", sans-serif;
  --font-body: "Roboto", sans-serif;
  --radius: 15px;
  --shadow: 8px 10px 12px rgba(54, 119, 143, 0.2);
  --transition: 200ms;
}
body,
.App {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  background-image: url("img/dicotable.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.app-logo {
  max-width: 200px;
  display: block;
  margin: 0 auto;
}

.app-header {
  margin: 30px 5px;
}

section {
  background-color: rgba(234, 220, 201, 0.4);
  border-radius: 15px;
  box-shadow: 8px 10px 12px rgba(54, 119, 143, 0.2);
  font-family: var(--font-body);
  font-size: 13pt;
  padding: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}
a {
  color: black;
}
a:hover {
  color: black;
  transition-duration: 200ms;
}

@media (min-width: 768px) {
  .App {
    padding-left: 10%;
    padding-right: 10%;
  }
}
@media (min-width: 1200px) {
  .App {
    padding-left: 20%;
    padding-right: 20%;
  }
}
