.react-logo {
  font-size: 39pt;
  text-align: center;
  margin-left: -20px;
}

.oscode {
  margin-left: -70px;
}

.portfolio {
  margin-left: 40px;
}

.footer {
  background-color: rgba(234, 220, 201, 0.4);
  border-radius: 15px;
  box-shadow: 8px 10px 12px rgba(54, 119, 143, 0.2);
  font-family: var(--font-body);
  font-size: 13pt;
}

@media (max-width: 576px) {
  .react-logo-container {
    display: none;
  }
  .oscode {
    margin-left: -60px;
  }
  .portfolio {
    margin-left: 40px;
  }
}
